<h1>Exercise 38</h1>
<p>There are 3 rows in a movie hall each with 10 seats per row. Write a query to find 4 consecutive empty seats.</p>
<strong>Expected outcome:</strong>
<br>
<img src="Day-38-Expected_Output.png" width="350">

In [2]:
import os
import sqlite3
import pandas as pd

db_name="exercise38.db"
conn=sqlite3.connect(db_name)
cursor=conn.cursor()

cursor.execute("""CREATE TABLE IF NOT EXISTS movie(seat VARCHAR(50), occupancy INT)""")
conn.commit()

movie_data=[
    ('a1',1),
    ('a2',1),
    ('a3',0),
    ('a4',0),
    ('a5',0),
    ('a6',0),
    ('a7',1),
    ('a8',1),
    ('a9',0),
    ('a10',0),
    ('b1',0),
    ('b2',0),
    ('b3',0),
    ('b4',1),
    ('b5',1),
    ('b6',1),
    ('b7',1),
    ('b8',0),
    ('b9',0),
    ('b10',0),
    ('c1',0),
    ('c2',1),
    ('c3',0),
    ('c4',1),
    ('c5',1),
    ('c6',0),
    ('c7',1),
    ('c8',0),
    ('c9',0),
    ('c10',1)
]
cursor.executemany("INSERT INTO movie VALUES(?,?)",movie_data)

querytoexec="SELECT * FROM movie"
df=pd.read_sql(querytoexec,conn)
print(df)

   seat  occupancy
0    a1          1
1    a2          1
2    a3          0
3    a4          0
4    a5          0
5    a6          0
6    a7          1
7    a8          1
8    a9          0
9   a10          0
10   b1          0
11   b2          0
12   b3          0
13   b4          1
14   b5          1
15   b6          1
16   b7          1
17   b8          0
18   b9          0
19  b10          0
20   c1          0
21   c2          1
22   c3          0
23   c4          1
24   c5          1
25   c6          0
26   c7          1
27   c8          0
28   c9          0
29  c10          1

In [3]:
querytoexec="WITH cte1 AS (SELECT *, SUBSTR(seat, 1, 1) AS row_id, CAST(SUBSTR(seat, 2) AS INT) AS seat_id FROM movie), cte2 AS (SELECT *, MAX(occupancy) OVER(PARTITION BY row_id ORDER BY seat_id ROWS BETWEEN CURRENT ROW AND 3 FOLLOWING) AS is_4_empty, COUNT(occupancy) OVER(PARTITION BY row_id ORDER BY seat_id ROWS BETWEEN CURRENT ROW AND 3 FOLLOWING) AS cnt FROM cte1), cte3 AS (SELECT * FROM cte2 WHERE is_4_empty = 0 AND cnt = 4) SELECT cte2.* FROM cte2 INNER JOIN cte3 ON cte2.row_id = cte3.row_id AND cte2.seat_id BETWEEN cte3.seat_id AND cte3.seat_id + 3"
df=pd.read_sql(querytoexec,conn)
print(df)
conn.close()

  seat  occupancy row_id  seat_id  is_4_empty  cnt
0   a3          0      a        3           0    4
1   a4          0      a        4           1    4
2   a5          0      a        5           1    4
3   a6          0      a        6           1    4