<h1>Exercise 41</h1>
<p>Write a query to report the students (student_id, student_name) being "quiet" in all exams. A "quiet" student is one who took at least one exam and did not score the highest or lowest in any exam. Do not return students who have never taken any exam. The table should be ordered by student_id</p>
<strong>Expected outcome:</strong>
<br>
<img src="Day-41-Expected_Output.png" width="200">

In [1]:
import os
import sqlite3
import pandas as pd

db_name="exercise41.db"
conn=sqlite3.connect(db_name)
cursor=conn.cursor()

cursor.execute("""CREATE TABLE IF NOT EXISTS students(student_id INT, student_name VARCHAR(20))""")
cursor.execute("""CREATE TABLE IF NOT EXISTS exams(exam_id INT, student_id INT, score INT)""")
conn.commit()

students_data=[
    (1,'Daniel'),
    (2,'Jade'),
    (3,'Stella'),
    (4,'Jonathan'),
    (5,'Will')
]
cursor.executemany("INSERT INTO students VALUES(?,?)",students_data)

exam_data=[
    (10,1,70),
    (10,2,80),
    (10,3,90),
    (20,1,80),
    (30,1,70),
    (30,3,80),
    (30,4,90),
    (40,1,60),
    (40,2,70),
    (40,4,80)
]
cursor.executemany("INSERT INTO exams VALUES(?,?,?)",exam_data)
conn.commit()

querytoexec="SELECT * FROM students"
df=pd.read_sql(querytoexec,conn)
print(df)

   student_id student_name
0           1       Daniel
1           2         Jade
2           3       Stella
3           4     Jonathan
4           5         Will

In [2]:
querytoexec="WITH all_scores AS (SELECT exam_id, MIN(score) AS min_score, MAX(score) AS max_score FROM exams GROUP BY exam_id) SELECT exams.student_id FROM exams INNER JOIN all_scores ON exams.exam_id = all_scores.exam_id GROUP BY student_id HAVING MAX(CASE WHEN score= min_score OR score= max_score THEN 1 ELSE 0 END) = 0"
df=pd.read_sql(querytoexec,conn)
print(df)
conn.close()

   student_id
0           2