<h1>Exercise 36</h1>
<p>Write a query to display the records which have 3 or more consecutive rows with the amount of people more than 100 (inclusive) each day</p>
<strong>Expected outcome:</strong>
<br>
<img src="Day-36-Expected_Output.png" width="200">

In [5]:
import os
import sqlite3
import pandas as pd

db_name="exercise36.db"
conn=sqlite3.connect(db_name)
cursor=conn.cursor()

cursor.execute("""CREATE TABLE IF NOT EXISTS stadium(id INT, visit_date DATE, no_of_people INT)""")
conn.commit()

std_date=[
(1,'2017-07-01',10),
(2,'2017-07-02',109),
(3,'2017-07-03',150),
(4,'2017-07-04',99),
(5,'2017-07-05',145),
(6,'2017-07-06',1455),
(7,'2017-07-07',199),
(8,'2017-07-08',188)
]
cursor.executemany("INSERT INTO stadium VALUES(?,?,?)",std_date)

querytoexec="SELECT * FROM stadium"
df=pd.read_sql(querytoexec,conn)
print(df)

   id  visit_date  no_of_people
0   1  2017-07-01            10
1   2  2017-07-02           109
2   3  2017-07-03           150
3   4  2017-07-04            99
4   5  2017-07-05           145
5   6  2017-07-06          1455
6   7  2017-07-07           199
7   8  2017-07-08           188

In [6]:
querytoexec="WITH GRP_NUMBER AS (SELECT *, ROW_NUMBER() OVER (ORDER BY VISIT_DATE) AS RN, ID - ROW_NUMBER() OVER (ORDER BY VISIT_DATE) AS GRP FROM STADIUM WHERE NO_OF_PEOPLE >= 100) SELECT ID, VISIT_DATE, NO_OF_PEOPLE FROM GRP_NUMBER WHERE GRP IN (SELECT GRP FROM GRP_NUMBER GROUP BY GRP HAVING COUNT(1) >= 3)"
df=pd.read_sql(querytoexec,conn)
print(df)
conn.close()

   id  visit_date  no_of_people
0   5  2017-07-05           145
1   6  2017-07-06          1455
2   7  2017-07-07           199
3   8  2017-07-08           188