<h1>Exercise 47</h1>
<p>Write a query to find users who purchased different products on different dates. ie: products that were purchased on any given date are not repeated on the same day.</p>
<strong>Expected outcome:</strong>
<br>
<img src="Day-47-Expected_Output.png" width="200">

In [1]:
import os
import sqlite3
import pandas as pd

db_name="exercise47.db"
conn=sqlite3.connect(db_name)
cursor=conn.cursor()

cursor.execute("""CREATE TABLE IF NOT EXISTS purchase_history(userid INT, productid INT, purchasedate DATE)""")
conn.commit()


p_data=[
    (1,1,'23-01-2012'),
    (1,2,'23-01-2012'),
    (1,3,'25-01-2012'),
    (2,1,'23-01-2012'),
    (2,2,'23-01-2012'),
    (2,2,'25-01-2012'),
    (2,4,'25-01-2012'),
    (3,4,'23-01-2012'),
    (3,1,'23-01-2012'),
    (4,1,'23-01-2012'),
    (4,2,'25-01-2012')
]
cursor.executemany("INSERT INTO purchase_history VALUES(?,?,?)",p_data)
conn.commit()

querytoexec="SELECT * FROM purchase_history"
df=pd.read_sql(querytoexec,conn)
print(df)

    userid  productid purchasedate
0        1          1   23-01-2012
1        1          2   23-01-2012
2        1          3   25-01-2012
3        2          1   23-01-2012
4        2          2   23-01-2012
5        2          2   25-01-2012
6        2          4   25-01-2012
7        3          4   23-01-2012
8        3          1   23-01-2012
9        4          1   23-01-2012
10       4          2   25-01-2012

In [2]:
querytoexec="SELECT userid FROM purchase_history GROUP BY userid HAVING COUNT(DISTINCT purchasedate)>1 AND COUNT(productid)=COUNT(DISTINCT productid)"
df=pd.read_sql(querytoexec,conn)
print(df)
conn.close()

   userid
0       1
1       4