<h1>Exercise 31</h1>
<p>Find the largest order by value for each salesperson and display order details. Get the result without using subquery, cte, wwindow dunctions or temp tables.</p>
<strong>Expected outcome:</strong>
<br>
<img src="Day-31-Expected_Output.png" width="450">

In [2]:
import sqlite3
import pandas as pd

db_name = "exercise31.db"
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS int_orders (
    order_number INTEGER NOT NULL,
    order_date DATE NOT NULL,
    cust_id INTEGER NOT NULL,
    salesperson_id INTEGER NOT NULL,
    amount FLOAT NOT NULL
)""")
conn.commit()

orders_data = [
    (30, '1995-07-14', 9, 1, 460.0),
    (10, '1996-08-02', 4, 2, 540.0),
    (40, '1998-01-29', 7, 2, 2400.0),
    (50, '1998-02-03', 6, 7, 600.0),
    (60, '1998-03-02', 6, 7, 720.0),
    (70, '1998-05-06', 9, 7, 150.0),
    (20, '1999-01-30', 4, 8, 1800.0)
]

cursor.executemany("INSERT INTO int_orders VALUES(?, ?, ?, ?, ?)", orders_data)
conn.commit()

querytoexec = "SELECT * FROM int_orders"
df = pd.read_sql(querytoexec, conn)

print(df)

   order_number  order_date  cust_id  salesperson_id  amount
0            30  1995-07-14        9               1   460.0
1            10  1996-08-02        4               2   540.0
2            40  1998-01-29        7               2  2400.0
3            50  1998-02-03        6               7   600.0
4            60  1998-03-02        6               7   720.0
5            70  1998-05-06        9               7   150.0
6            20  1999-01-30        4               8  1800.0

In [3]:
querytoexec = "SELECT a.order_number, a.order_date, a.cust_id, a.salesperson_id, a.amount FROM int_orders a LEFT JOIN int_orders b ON a.salesperson_id = b.salesperson_id GROUP BY a.order_number, a.order_date, a.cust_id, a.salesperson_id, a.amount HAVING a.amount >= MAX(b.amount)"
df = pd.read_sql(querytoexec, conn)

print(df)
conn.close()

   order_number  order_date  cust_id  salesperson_id  amount
0            20  1999-01-30        4               8  1800.0
1            30  1995-07-14        9               1   460.0
2            40  1998-01-29        7               2  2400.0
3            60  1998-03-02        6               7   720.0