<h1>Exercise 37</h1>
<p>business_city table has data from the day Udaan started operation. Write a query to identify yearwise count of new cities where Udaan started their new operations.</p>
<strong>Expected outcome:</strong>
<br>
<img src="Day-37-Expected_Output.png" width="200">

In [1]:
import os
import sqlite3
import pandas as pd

db_name="exercise37.db"
conn=sqlite3.connect(db_name)
cursor=conn.cursor()

cursor.execute("""CREATE TABLE IF NOT EXISTS business_city( business_date DATE, city_id INT)""")
conn.commit()

cursor.execute("""DELETE FROM business_city""")
conn.commit()

b_data=[
    (('2020-01-02'),3),
    (('2020-07-01'),7),
    (('2021-01-01'),3),
    (('2021-02-03'),19),
    (('2022-12-01'),3),
    (('2022-12-15'),3),
    (('2022-02-28'),12)
]
cursor.executemany("INSERT INTO business_city VALUES(?,?)",b_data)

querytoexec="SELECT * FROM business_city"
df=pd.read_sql(querytoexec,conn)
print(df)

  business_date  city_id
0    2020-01-02        3
1    2020-07-01        7
2    2021-01-01        3
3    2021-02-03       19
4    2022-12-01        3
5    2022-12-15        3
6    2022-02-28       12

In [3]:
querytoexec="WITH CTE AS (SELECT STRFTIME('%Y', BUSINESS_DATE) AS BUS_YEAR, CITY_ID FROM BUSINESS_CITY) SELECT C1.BUS_YEAR, COUNT(DISTINCT CASE WHEN C2.CITY_ID IS NULL THEN C1.CITY_ID END) AS '#_OF_NEW_CITIES' FROM CTE C1 LEFT JOIN CTE C2 ON C1.BUS_YEAR > C2.BUS_YEAR AND C1.CITY_ID = C2.CITY_ID GROUP BY C1.BUS_YEAR"
df=pd.read_sql(querytoexec,conn)
print(df)
conn.close()

  BUS_YEAR  #_OF_NEW_CITIES
0     2020                2
1     2021                1
2     2022                1