<h1>Exercise 40</h1>
<p>Write a query to populate category values to the last not null value.</p>
<strong>Expected outcome:</strong>
<br>
<img src="Day-40-Expected_Output.png" width="200">

In [1]:
import os
import sqlite3
import pandas as pd

db_name="exercise40.db"
conn=sqlite3.connect(db_name)
cursor=conn.cursor()

cursor.execute("""CREATE TABLE IF NOT EXISTS brands(category VARCHAR(20), brand_name VARCHAR(20))""")
conn.commit()

b_values=[
    ('chocolates','5-star'),
    (None,'dairy milk'),
    (None,'perk'),
    (None,'eclair'),
    ('Biscuits','britannia'),
    (None,'good day'),
    (None,'boost')
]
cursor.executemany("INSERT INTO brands VALUES(?,?)",b_values)

querytoexec="SELECT * FROM brands"
df=pd.read_sql(querytoexec,conn)
print(df)

     category  brand_name
0  chocolates      5-star
1        None  dairy milk
2        None        perk
3        None      eclair
4    Biscuits   britannia
5        None    good day
6        None       boost

In [2]:
querytoexec="WITH cte1 AS (SELECT *, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS rn FROM brands), cte2 AS (SELECT *, LEAD(rn, 1) OVER (ORDER BY rn) AS next_rn FROM cte1 WHERE category IS NOT NULL) SELECT cte2.category, cte1.brand_name FROM cte1 INNER JOIN cte2 ON cte1.rn >= cte2.rn AND (cte1.rn <= cte2.next_rn - 1 OR cte2.next_rn IS NULL)"
df=pd.read_sql(querytoexec,conn)
print(df)
conn.close()

     category  brand_name
0  chocolates      5-star
1  chocolates  dairy milk
2  chocolates        perk
3  chocolates      eclair
4    Biscuits   britannia
5    Biscuits    good day
6    Biscuits       boost