<h1>Exercise 35</h1>
<p>Write a SQL query to find details of employees with 3rd highest salary in each department. In case there are less than 3 employees in a department, return the employee details with lowest salary in that department.</p>
<strong>Expected outcome:</strong>
<br>
<img src="Day-35_Expected_Output.png" width="450">

In [2]:
import os
import sqlite3
import pandas as pd

db_name="exercise35.db"
conn=sqlite3.connect(db_name)
cursor=conn.cursor()

cursor.execute("""CREATE TABLE IF NOT EXISTS emp( emp_id INT, emp_name VARCHAR(50),salary INT, manager_id INT, emp_age INT, dep_id INT, dep_name VARCHAR(20), gender VARCHAR(10))""")
conn.commit()

emp_data=[
    (1, 'Ankit', 14300, 4, 39, 100, 'Analytics', 'Female'),
    (2, 'Mohit', 14000, 5, 48, 200, 'IT', 'Male'),
    (3, 'Vikas', 12100, 4, 37, 100, 'Analytics', 'Female'),
    (4, 'Rohit', 7260, 2, 16, 100, 'Analytics', 'Female'),
    (5, 'Mudit', 15000, 6, 55, 200, 'IT', 'Male'),
    (6, 'Agam', 15600, 2, 14, 200, 'IT', 'Male'),
    (7, 'Sanjay', 12000, 2, 13, 200, 'IT', 'Male'),
    (8, 'Ashish', 7200, 2, 12, 200, 'IT', 'Male'),
    (9, 'Mukesh', 7000, 6, 51, 300, 'HR', 'Male'),
    (10, 'Rakesh', 8000, 6, 50, 300, 'HR', 'Male'),
    (11, 'Akhil', 4000, 1, 31, 500, 'Ops', 'Male')
]
cursor.executemany("INSERT INTO emp VALUES(?,?,?,?,?,?,?,?)",emp_data)

querytoexec="SELECT * FROM emp"
df=pd.read_sql(querytoexec,conn)
print(df)

    emp_id emp_name  salary  manager_id  emp_age  dep_id   dep_name  gender
0        1    Ankit   14300           4       39     100  Analytics  Female
1        2    Mohit   14000           5       48     200         IT    Male
2        3    Vikas   12100           4       37     100  Analytics  Female
3        4    Rohit    7260           2       16     100  Analytics  Female
4        5    Mudit   15000           6       55     200         IT    Male
5        6     Agam   15600           2       14     200         IT    Male
6        7   Sanjay   12000           2       13     200         IT    Male
7        8   Ashish    7200           2       12     200         IT    Male
8        9   Mukesh    7000           6       51     300         HR    Male
9       10   Rakesh    8000           6       50     300         HR    Male
10      11    Akhil    4000           1       31     500        Ops    Male

In [3]:
querytoexec="WITH xxx AS ( SELECT emp_id, emp_name, salary, dep_id, dep_name, RANK() OVER(PARTITION BY dep_id ORDER BY salary DESC) as rn, COUNT(1) OVER(PARTITION BY dep_id) as cnt FROM emp) SELECT * FROM xxx WHERE rn = 3 OR (cnt < 3 AND rn = cnt)"
df=pd.read_sql(querytoexec,conn)
print(df)
conn.close()

   emp_id emp_name  salary  dep_id   dep_name  rn  cnt
0       4    Rohit    7260     100  Analytics   3    3
1       2    Mohit   14000     200         IT   3    5
2       9   Mukesh    7000     300         HR   2    2
3      11    Akhil    4000     500        Ops   1    1