<h1>Exercise 01</h1>
<p>Find employees with salary more than their managers salary</p>
<img src="Day-1-expected_output.png" width="500">

In [7]:
import sqlite3
import pandas as pd
import os

db_name="question1.db"

conn = sqlite3.connect(db_name)
cursor=conn.cursor()

conn = sqlite3.connect(db_name)
cursor=conn.cursor()

print("Creating table...")
cursor.execute("""
    CREATE TABLE IF NOT EXISTS icc_world_cup(
        Team_1 VARCHAR(20),
        Team_2 VARCHAR(20),
        Winner VARCHAR(20))
""")
conn.commit()

teams= [
    ('India','SL','India'),
    ('SL','Aus','Aus'),
    ('SA','Eng','Eng'),
    ('Eng','NZ','NZ'),
    ('Aus','India','India'),            
]
cursor.executemany("INSERT INTO icc_world_cup(Team_1,Team_2,Winner) VALUES(?,?,?)",teams)
conn.commit()
print("Data inserted successfully.")

Creating table...
Data inserted successfully.

In [8]:
query="SELECT * from icc_world_cup"
df=pd.read_sql(query,conn)
print("Query result:")
print(df)

query2="select team_name, count(1) as no_of_matches_played, sum(win_flag) as no_matches_won,count(1)-sum(win_flag) as no_matches_lost from (select Team_1 as team_name, case when Team_1=winner then 1 else 0 end as win_flag from icc_world_cup union " \
"all select Team_2 as team_name, case when Team_2=winner then 1 else 0 end as win_flag from icc_world_cup) A group by team_name ORDER BY no_matches_won desc"
df2=pd.read_sql(query2,conn)
print(df2)
conn.close

Query result:
   Team_1 Team_2 Winner
0   India     SL  India
1      SL    Aus    Aus
2      SA    Eng    Eng
3     Eng     NZ     NZ
4     Aus  India  India
5   India     SL  India
6      SL    Aus    Aus
7      SA    Eng    Eng
8     Eng     NZ     NZ
9     Aus  India  India
10  India     SL  India
11     SL    Aus    Aus
12     SA    Eng    Eng
13    Eng     NZ     NZ
14    Aus  India  India
15  India     SL  India
16     SL    Aus    Aus
17     SA    Eng    Eng
18    Eng     NZ     NZ
19    Aus  India  India
  team_name  no_of_matches_played  no_matches_won  no_matches_lost
0     India                     8               8                0
1        NZ                     4               4                0
2       Eng                     8               4                4
3       Aus                     8               4                4
4        SL                     8               0                8
5        SA                     4               0                4